*{
	margin:0;
	padding:0;
	font:inherit;
	font-family: 'Open Sans';
}html, body{ 
	min-width:100%;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body{
	background:#181816;
	background-image: url(../img/bg.png);
	color:#CCC;
    overflow-x: scroll;
}
table{
	border-collapse:collapse;
}td{
	padding:1px;
	border-spacing:0px;
}th{
	font-size:13px;
}th:first-child{
	text-align:left;
	padding: 0px 5px 0px 0px;
	width:146px;
	font-size:16px;
	display:inline-block;
}tr{
	line-height:19px;
}tr:hover{
	background: rgba(255,255,255,0.3);
}
button{
	cursor:pointer;
	padding: 0px 5px;
	text-align:center;
	font-weight: bold;
	min-width:60px;
	margin: 5px 5px 5px 0px;
	border: 0;
	border-left:1px solid rgba(255, 255, 255, 0.11);
	border-right:2px solid rgba(0, 0, 0, 0.2);
	border-bottom:2px solid rgba(0, 0, 0, 0.2);
}button:active{
	border:0;
	box-shadow: inset #333 1px 1px 4px;
	padding: 0px 2px 2px 2px;
}
#header{
	font-size:34px;
	height:55px;
	position: fixed;
	top:0px;
	line-height:55px;
	width:100%;
	padding-left:25px;
}#header, button{
	color:white;
	background-color:orange;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
}#logo{
	float:left;
	margin-top:5px;
	width:auto;
	height:45px;
	font-size:45px;
	margin-top:-5px;
	cursor:default;
}#name{
	padding-left:53px;
	float:left;
	line-height:50px;
}.icon{
	color:white;
	font-size:32px;
	position:absolute;
	top:10px;
	height:32px;
	width:32px;
	cursor:pointer;
}#volumeIcon{
	right:148px;
}#volumeIcon #slider{
	position: absolute;
	top:32px;
	left:-44px;
	background: #333;
	padding:3px;
	border-radius: 10px;
	width:120px;
	visibility: hidden;
}#volumeIcon:hover #slider{
	visibility: visible;
}#openIcon{
	right:50px;
}#saveIcon{
	right:100px;
}

#content{
	margin: 25px;
	margin-top: 80px;
}
#load{
	height: 10px;
	width: 151px;
	background-color:orange;
	margin-bottom:10px;
}
button:disabled{
	opacity:0.2;
	cursor:default;
}
button.preview{
	min-width:19px;
	height:19px;
	border:1px solid white;
	background:transparent;
	cursor:pointer;
	border-radius:5px;
	margin:0 5px 0 0;
	padding:0;
	font-size:13px;
}
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	border-radius:5px;
	box-shadow: #111 1px 1px 1px;
	display:inline-block;
	width:19px;
	height:19px;
	margin:1px;
	vertical-align:middle;
	background: #333;
	cursor:pointer;
}
input[type="checkbox"]:checked + label span {
	background: orange;
	box-shadow:inset #111 1px 1px 5px;
}

#settings label{
	display:block;
	width: 153px;
	float:left;
}
#overlay{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	min-width:800px;
}#background{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:white;
	opacity:0.2;
}#message{
	background-image: url(../img/bg.png);
	max-height:500px;
	overflow-y: auto;
	margin: 0 auto;
	margin-top:80px;
	padding:25px;
	border:1px solid white;
	border-radius:4px;
	position: relative;
	width:495px;
}#message ul{
	list-style:none;
}#message label{
	display: block;
	width:280px;
	float:left;
	line-height:34px;
	height:34px;
	white-space:nowrap;
	overflow:hidden;
}#status{
	border: 1px solid white;
	width:483px;
	padding:2px 5px;
	margin-bottom:15px;
}
